#remove html file extension https://rolex-h.github.io/machinee/Upcoming.html
# to https://rolex-h.github.io/machinee/Upcoming
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
